/* Custom Stylesheet File */
body{
min-height: 100vh;
margin: 0;
display: grid;grid-template-rows: auto 1fr auto;
background-repeat: no-repeat;
    background-size: cover;
}
#Iron-Man {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;

}
#The-Incredible-Hulk {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTUyNzk3MjA1OF5BMl5BanBnXkFtZTcwMTE1Njg2MQ@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Iron-Man2 {
background-image: url(https://m.media-amazon.com/images/M/MV5BZGVkNDAyM2EtYzYxYy00ZWUxLTgwMjgtY2VmODE5OTk3N2M5XkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Thor {
background-image: url(https://m.media-amazon.com/images/M/MV5BOGE4NzU1YTAtNzA3Mi00ZTA2LTg2YmYtMDJmMThiMjlkYjg2XkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Captain-America-The-First-Avenger {
background-image: url(https://m.media-amazon.com/images/M/MV5BNzAxMjg0NjYtNjNlOS00NTdlLThkMGEtMjAwYjk3NmNkOGFhXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
 #The-Avengers {
 background-image: url(https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg);
 color: white;
 width: 300px; height: 430px;

 
}
#Iron-Man3 {
background-image: url(https://m.media-amazon.com/images/M/MV5BMjE5MzcyNjk1M15BMl5BanBnXkFtZTcwMjQ4MjcxOQ@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Thor-The-Dark-World {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTQyNzAwOTUxOF5BMl5BanBnXkFtZTcwMTE0OTc5OQ@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Captain-America-The-Winter-Soldier {
background-image: url(https://m.media-amazon.com/images/M/MV5BYzMyN2I0NjMtYmZhZS00MWJkLWE1MTktNGM2ZDhmNDE1ZDc0XkEyXkFqcGdeQXVyNDg2NzE0MjE@._V1_SX300.jpg);
color: white; 
width: 300px; height: 430px;


}
#Guardians-Of-The-Galaxy {
background-image: url(https://m.media-amazon.com/images/M/MV5BNDIzMTk4NDYtMjg5OS00ZGI0LWJhZDYtMzdmZGY1YWU5ZGNkXkEyXkFqcGdeQXVyMTI5NzUyMTIz._V1_SX300.jpg);
color: white; 
width: 300px; height: 430px;


}
#Avengers-Age-Of-Ultron {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Ant-Man {
background-image: url(https://m.media-amazon.com/images/M/MV5BMjM2NTQ5Mzc2M15BMl5BanBnXkFtZTgwNTcxMDI2NTE@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Captain-America-Civil-War {
 background-image: url(https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg);
 color: white; 
 width: 300px; height: 430px;

 
}
#Doctor-Strange {
background-image: url(https://m.media-amazon.com/images/M/MV5BNjgwNzAzNjk1Nl5BMl5BanBnXkFtZTgwMzQ2NjI1OTE@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Guardians-Of-The-Galaxy-Vol2 {
background-image: url(https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg);
color: white; 
width: 300px; height: 430px;


}
#Spider-Man-Homecoming {
background-image: url(https://m.media-amazon.com/images/M/MV5BODY2MTAzOTQ4M15BMl5BanBnXkFtZTgwNzg5MTE0MjI@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


} 
#Thor-Ragnarok {
background-image: url(https://m.media-amazon.com/images/M/MV5BMjMyNDkzMzI1OF5BMl5BanBnXkFtZTgwODcxODg5MjI@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Black-Panther {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Avengers-Infinity-War {
background-image: url(https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Ant-Man-And-The-Wasp {
background-image: url(https://m.media-amazon.com/images/M/MV5BYjcyYTk0N2YtMzc4ZC00Y2E0LWFkNDgtNjE1MzZmMGE1YjY1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Captain-Marvel {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTE0YWFmOTMtYTU2ZS00ZTIxLWE3OTEtYTNiYzBkZjViZThiXkEyXkFqcGdeQXVyODMzMzQ4OTI@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Avengers-EndGame {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Spider-Man-Far-From-Home {
background-image: url(https://m.media-amazon.com/images/M/MV5BODA5MTY0OWUtNjdlOC00NDI5LWE3NjYtNDM4MDI2MzE4OWUxXkEyXkFqcGdeQXVyOTAzODkzMjI@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Black-Widow {
background-image: url(https://m.media-amazon.com/images/M/MV5BNjRmNDI5MjMtMmFhZi00YzcwLWI4ZGItMGI2MjI0N2Q3YmIwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


} 
#Shang-Chi-And-The-Legends-Of-The-Ten-Rings {
background-image: url(https://m.media-amazon.com/images/M/MV5BNTliYjlkNDQtMjFlNS00NjgzLWFmMWEtYmM2Mzc2Zjg3ZjEyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


} 
#Eternals {
background-image: url(https://m.media-amazon.com/images/M/MV5BMTExZmVjY2ItYTAzYi00MDdlLWFlOWItNTJhMDRjMzQ5ZGY0XkEyXkFqcGdeQXVyODIyOTEyMzY@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Spider-Man-No-Way-Home {
background-image: url(https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Doctor-Strange-In-The-Multiverse-Of-Madness {
background-image: url(https://m.media-amazon.com/images/M/MV5BNWM0ZGJlMzMtZmYwMi00NzI3LTgzMzMtNjMzNjliNDRmZmFlXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


} 
#Thor-Love-And-Thunder {
background-image: url(https://m.media-amazon.com/images/M/MV5BYmMxZWRiMTgtZjM0Ny00NDQxLWIxYWQtZDdlNDNkOTEzYTdlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


} 
#Black-Panther-Wakanda-Forever {
background-image: url(https://m.media-amazon.com/images/M/MV5BNTM4NjIxNmEtYWE5NS00NDczLTkyNWQtYThhNmQyZGQzMjM0XkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


} 
#Ant-Man-And-The-Wasp-Quantumania {
background-image: url(https://m.media-amazon.com/images/M/MV5BODZhNzlmOGItMWUyYS00Y2Q5LWFlNzMtM2I2NDFkM2ZkYmE1XkEyXkFqcGdeQXVyMTU5OTA4NTIz._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;


}
#Guardians-Of-The-Galaxy-Vol3 {
background-image: url(https://m.media-amazon.com/images/M/MV5BMDgxOTdjMzYtZGQxMS00ZTAzLWI4Y2UtMTQzN2VlYjYyZWRiXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
color: white; 
width: 300px; height: 430px;


} 
#The-Marvels {
background-image: url(https://m.media-amazon.com/images/M/MV5BM2U2YWU5NWMtOGI2Ni00MGMwLWFkNjItMjgyZWMxNjllNTMzXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SX300.jpg);
color: white; 
width: 300px; height: 430px;


} 
#Deadpool-And-Wolverine {
background-image: url(https://m.media-amazon.com/images/M/MV5BNzRiMjg0MzUtNTQ1Mi00Y2Q5LWEwM2MtMzUwZDU5NmVjN2NkXkEyXkFqcGc@._V1_SX300.jpg);
color: white;
width: 300px; height: 430px;
}


/* .phase-bar {
    border-bottom: 2px solid white;
}

button {
    border: 1px solid white;
    border-radius: 5px;
}

button:hover {
    border: 1px solid black;
    color: white;
    background-color: black;
} */

.omdb-data {
    margin: 5%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #000;
}

#movie-title {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
}

#release-year {
    text-align: center;
    font-size: 125%;
}

#rating {
    text-align: center;
    font-size: 125%;
}

#imdb-rating {
    margin-left: 5%;
}

#tomato-rating {
    margin-left: 5%;
    margin-bottom: 10px;
}

#runtime {
    margin-left: 5%;
    margin-bottom: 10px;
}
#director {
    margin-left: 5%;
    margin-bottom: 10px;
}

#writer {
    margin-left: 5%;
    margin-bottom: 10px;
}

#actors {
    margin-left: 5%;
    margin-bottom: 10px;
}

#plot {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 10px;
}

#movie-poster {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#player {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.visuals {
    display: flex;
    align-items: center;
}

/* PHASE 1-5 BUTTONS */

.container {
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 300px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#f00,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }

  .phase-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .modal-content {
    width: 1000px;
  
  }
  .box {
    background-image: url(https://th.bing.com/th/id/OIP.H6jfT7jKfGhJL4UwzvPMGgHaFj?pid=ImgDet&w=474&h=355&rs=1);
  }
  #favorite{
width: 180px;
height: 50px;

  }

  #fav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  }

  #list-title {
    font-size: 200%;
  }

  ul {
      /* padding-left: 2rem; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: square;
      list-style-position: inside;
 }

li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#clear-favs {
  margin-bottom: 5px;
}
